@font-face {
    font-family: 'Arvo';
    src: url('Arvo-Regular.ttf');
}

@font-face {
    font-family: 'Arvo-Bold';
    src: url('Arvo-Bold.ttf');
}

@font-face {
    font-family: 'Arvo-BoldItalic';
    src: url('Arvo-BoldItalic.ttf');
}

@font-face {
    font-family: 'Arvo-Italic';
    src: url('Arvo-Italic.ttf');
}

@font-face {
    font-family: 'Arvo-Regular';
    src: url('Arvo-Regular.ttf');
}

