@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a14eff transparent;
  scroll-behavior: smooth;
}

.dark .customScrollbar {
  scrollbar-color: #2e47ff transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* For WebKit-based browsers (Chrome, Safari, Edge) */
.customScrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #2e47ff; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Optional: Add border to thumb */
}

.customScrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #a14eff; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid transparent; /* Optional: Add border to thumb */
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #142448 inset; /* Dark background for autofilled text */
  -webkit-text-fill-color: #f1f1f1; /* Light text for better readability */
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fcf0ff inset; /* Dark background for autofilled text */
  -webkit-text-fill-color: #0f172a; /* Light text for better readability */
  transition: background-color 5000s ease-in-out 0s;
}

.bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  filter: blur(10px);
  animation: float 10s infinite ease-in-out;
}

.bubble-1 {
  width: 80px;
  height: 80px;
  bottom: 10%;
  left: 15%;
}

.bubble-2 {
  width: 120px;
  height: 120px;
  top: 20%;
  right: 10%;
}

.bubble-3 {
  width: 60px;
  height: 60px;
  bottom: 30%;
  right: 25%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
